button { 
   margin-left: 10px 
}

a {
    margin-left: 10px ;
}


div { 
    
    margin: 20px; 
    padding: 20px; 
   
}


.green { 
    border: 2px solid green; 
}


.red { 
    border: 2px solid red; 
}

