<h2>Blogs</h2>

<h3 *ngIf="!blogs">loading...</h3>

<div 
  [class.green]="blog.upvote > blog.downvote" 
  [class.red]="blog.upvote < blog.downvote" 
  *ngFor="let blog of blogs"
  > 
  <h3>
    {{blog.title}}
  </h3>

  <p>
    Content: {{ blog.content}}
    <a [routerLink]="['/blogs', blog.id]">continue reading</a>
  </p>

  <p>
    author: {{blog.author}}
  </p>

  <button type="button" (click)="this.blogService.upVote(blog.id)"> 
    up vote {{ blog.upvote}}
  </button>

  <button type="button" (click)="this.blogService.downVote(blog.id)">
    down vote {{ blog.downvote}}
  </button>


</div>
